<header>
    <div class="grid-container container">
        <div class="logo grid-item">
            <img src="{{logo}}" />
        </div>
        <nav class="nav grid-item">
            {{navHtml | raw}}
        </nav>
    </div>
</header>